<nb-layout>
  <nb-layout-header fixed>
    <div id="container">
      <div id="leftside">
        <div id ="container">
          <div id="left">
            <button nbButton id="button-menu" status="basic" (click)="toggleCompact()">
              <img src="../assets/icons/menu-outline.svg" id="menu">
            </button>
          </div>
          <div id="right">
            <img src="../assets/icons/ladybug.svg" id="logo">
          </div>
        </div>
      </div>
      <div id="middleside"></div>
      <div id="rightside">
        <div id="container">
          <div id="left"></div>
          <div id="right">
            <span id="ladyspan">LadyBug</span>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar tag="left"></nb-sidebar>

  <nb-layout-column class="colored-column-warning">
    <app-issues></app-issues>
  </nb-layout-column>

  <nb-layout-footer fixed>
    footer Content
  </nb-layout-footer>

</nb-layout>
