<nb-layout>
  <nb-layout-header fixed>
    <div id="container">
      <div id="leftside">
        <div id ="leftsidecontainer">
          <div id="left">
            <button nbButton id="button-menu" status="basic" (click)="toggleCompact()">
              <img src="../assets/icons/menu-outline.svg" id="menu">
            </button>
          </div>
          <div id="right">
            <img src="../assets/icons/ladybug.svg" id="logo">
          </div>
        </div>
      </div>
      <div id="middleside">
        <button nbButton status="info" size="tiny">Toggle Compact</button>
      </div>
      <div id="rightside">
        <div id="container">
          <div id="left"></div>
          <div id="right">
            <span id="ladyspan">LadyBug</span>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar tag="left"></nb-sidebar>

  <nb-layout-column class="colored-column-warning">Layout Content</nb-layout-column>

  <nb-layout-footer fixed>
    footer Content
  </nb-layout-footer>

</nb-layout>

<!-- 
  <nb-layout>
  <nb-layout-header fixed>
    <button nbButton status="success" size="tiny" (click)="toggle()">Toggle</button>
    <button nbButton status="info" size="tiny" (click)="toggleCompact()">Toggle Compact</button>
  </nb-layout-header>

  <nb-sidebar tag="left"></nb-sidebar>
  <nb-sidebar right tag="right"></nb-sidebar>

  <nb-layout-column class="colored-column-warning">Layout Content</nb-layout-column>
</nb-layout>
-->
